.imageContainer {
  display: grid;
  height: 100%;
}

.imageEl {
  display: block;
  max-width: 100%;
  grid-area: 1/1;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.imageSkeleton {
  grid-area: 1/1;
  height: 100%;
  background-image: linear-gradient(90deg, #E7E7E7 0%, #BBB 50%, #E7E7E7 100%);
  background-color: #E7E7E7;
  background-size: 200%;
  background-position: -200%;
  animation: goLeft 1s infinite linear;
}

@keyframes goLeft {
  to {
    background-position: 0;
  }
}