.accountHeaderNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.accountHeaderNav a ,
.accountHeaderNav button {
  background: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .2s;
  cursor: pointer;
}


.accountHeaderNav a:hover,
.accountHeaderNav a:focus,
.accountHeaderNav button:hover,
.accountHeaderNav button:focus {
  background: #fff;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}


.accountHeaderNav button:global(.active),
.accountHeaderNav a:global(.active) {
  background: #fff;
  box-shadow: 0 0 0 3px #fb1;
  border-color: #fb1;
}

.accountHeaderNav a:global(.active) svg > * {  
  fill: #fb1;
}