.photosFeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  margin-bottom: 2rem;
}

@media (max-width: 50rem) {
  .photosFeed {
    grid-template-columns: repeat(2, 1fr);
  }
}