.commentsList {
  overflow-y: auto;
  word-break: break-word;
  padding: 0 2rem 1rem 2rem;
}

.commentItem {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.commentAuthor {
  font-weight: bold;
}

.commentsList.isPage {
  padding: 0 0 1rem 0;
}
