.form {
  margin-bottom: 2rem;
}

.newaccount {
  margin: 4rem 0;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle::after {
  content: '';
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 4rem;
  border-radius: 0.2rem;
}

.description {
  margin-bottom: 1rem;
}

.linkbutton {
  display: inline-block;
}