@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
  padding-top: 4rem;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.appWrapper {
  transition: .4s opacity ease-in-out;
}

.isAppLoading {
  opacity: 0.5;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fb1;
  z-index: -1;
  bottom: 2px;
  left: -5px;
  position: absolute;
  border-radius: 0.3rem;
}

.requestError {
  text-align: center;
  border: 4px solid #731;
  border-radius: 0.5rem;
  color: #731;
  font-size: 1.06rem;
  margin-top: 1rem;
  padding: 1rem;
  background: #fCC;
}